.container{
    width: 1400px;
    border: 2px solid red; 
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.box1{
    width: 45%;
    border: 2px solid red;
    margin: auto;
}
.box1_1{
    width: 45%;
    border: 2px solid red;
    margin: auto;
}



